<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WpfTutoSynthes.Properties.Settings.connStr" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\BDD\BddMain.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
